* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    box-sizing: border-box;
    background-color: hsl(0, 80%, 74%);
  }
  .head-section {
    color: white;
  }
  .trial {
    color: white;
    background-color: hsl(248, 32%, 49%);
    padding: 10px 50px;
    margin: 28px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px grey;
  }
  .bold {
    font-weight: bold;
  }
  form {
    display: block;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px grey;
    position:relative;
  }
  .div-input1{
    display:block;
    position:relative;
  }
  .div-input{
    display:block;
    position:relative;
  }
  .field {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
  }
  #error-msg1, #error-msg2, #error-msg3, #error-msg4 {
    display:none;
    float:right;
    color: hsl(0, 100%, 74%);
    top:-22px;
    position:relative;
    font-style: italic;
    font-size: 16px;
    }
  #error-icon1 {
    display:none;
      position:absolute;
      right:30px;
      top:16px;
  }
  #error-icon2, #error-icon3, #error-icon4 {
    display:none;
    position:absolute;
    right:30px;
    top:41px;
}
  #submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 5px solid hsl(154, 35%, 51%);
  }
  .terms {
    font-size: 10px;
    text-align: center;
    color: hsl(246, 25%, 77%);
    padding: 10px;
  }
  .term-red {
    color: red;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 375px) {
    body {
      display: flex;
      flex-direction: column;
      background-image: url("images/bg-intro-mobile.png");
    }
    .heading {
      text-align: center;
      width: 300px;
      padding: 20px 20px 0px;
      margin: 60px auto 0px;
    }
    .desc {
      text-align: center;
      width: 300px;
      padding: 10px;
      margin: 0px auto;
    }
    .field {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
    #submit {
      width: 100%;
      margin: 0 auto;
    }
    .img-mobile {
      display: block;
      
      z-index: -1;
    }
    .img-desktop {
      display: none;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 30px;
      background-image: url("images/bg-intro-desktop.png");
    }
    .heading {
      width: 300px;
    }
    .desc {
      width: 500px;
    }
    .head-section {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      padding: 80px;
      margin-left: 40px;
    }
    p.trial {
      position: relative;
      display: block;
      align-self: center;
      justify-self: start;
    }
    form {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
      justify-self: start;
      padding:30px;
    }
    .grid-right {
      margin: auto 0;
      padding: 60px 120px 60px 0;
    }
    .field {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
    #submit{
        width:95%;
        margin:auto 12px;
    }
    .img-mobile {
        
        display: none;
    }
    .img-desktop {
      display: block;
    }
    footer {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    padding: 15px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
